#f{
    color: transparent;
}
nav{
    border-radius: 10px;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
    width: 0;
    transition: all 1s ease-in-out;
}
.care{
    color: transparent;
    opacity: 0;
    display: inline-block;
    position: relative;
    margin-top: 30px;
    margin-left: 10px;
    height: 0;
    float: left;
    width: 0;
    margin-right: 10px;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-width: 2.5px;
    border-color:rgb(58, 58, 64);
    transition: all .5s ease-in-out;
}

p.desc{
    margin: 10px;
    text-align: left;
    text-indent: 15px;
}
.icons{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    transition: all .2s ease-in-out;
    text-align: left;
    user-select: none;
}
.icons:hover{
    transform: scale(1.3);
img {
    max-width:10px;
    height:auto;
}
}
::selection{
    background-color: rgb(233, 117, 81);
}
.titleofproj{
    font-size: x-large;
}
.groups{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 10px;
    user-select: none;
}
.care:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px gray;
    transition: all .2s ease-in-out;
}
